.fade-enter {
    opacity: .001;
    will-change: opacity;
}

.fade-enter-active {
    opacity: 1;
    transition: 500ms ease-in-out opacity 500ms;
}

.fade-enter-done {
    opacity: 1;
}

.fade-exit {
    opacity: 1;
    will-change: opacity;
}

.fade-exit-active {
    opacity: .001;
    transition: 500ms ease-in-out opacity;
}

.fade-exit-done {
    opacity: .001;
}


.auth-appear {
    .gradient {
        transform: translateX(-100%);
        will-change: transform;
    }
    .logo {
        opacity: .001;
        will-change: opacity;
    }
}

.auth-appear-active {
    .gradient {
        transform: translateX(0);
        transition: 750ms ease-in-out transform;
    }
    .logo {
        opacity: 1;
        transition: 500ms ease-in-out 500ms;
    }
}

.auth-appear-done {
    .gradient {
        transform: translateX(0);
    }
    .logo {
        opacity: 1;
    }
}