body {
    background-color: $white;
}

.inner {
    $width: 1280px;
    $padding: 20px;

    width: 100%;
    max-width: calc(#{$width} + #{$padding});
    padding: 0 $padding;
    margin: 0 auto;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    @include breakpoint(small) {
        font-size: em-calc(10px);
    }
}

.user__container {
    padding: 50px 0;
    padding-left: $header-width;
}

.content__container {
    padding: 100px 0;
}

.trending__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin-top: 25px;
    grid-gap: 50px;

    @include breakpoint(small) {
        grid-template-columns: repeat(2, 1fr);
    }

    .trending {
        height: 200px;
        background-color: $grey;

        @include breakpoint(small) {
            height: 150px;
        }
    }
}

.icon {
    width: 20px;
    height: 20px;

    & + .icon {
        margin-left: 25px;
    }

    .st0 {
        fill: none;
    }

    .st1 {
        fill: $white;
    }
}

.auth__container {
    display: flex;
    flex-direction: row;
    flex: 1;

    > div {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        position: relative;

        &.gradient {
            z-index: -1;
        }
    }
}