body {
    background-color: $white;
}

.inner {
    $width: 1280px;
    $padding: 20px;

    width: 100%;
    max-width: calc(#{$width} + #{$padding});
    padding: 0 $padding;
    margin: 0 auto;
}

.page {
    padding: 50px 0;

    &--user {
        padding-left: $header-width;
    }
}

.content__container {
    padding: 100px 0;
}

.trending__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    margin-top: 25px;
    grid-gap: 50px;

    .trending {
        height: 200px;
        background-color: $primary;
    }
}

.icon {
    width: 20px;
    height: 20px;

    & + .icon {
        margin-left: 25px;
    }

    .st0 {
        fill: none;
    }

    .st1 {
        fill: $white;
    }
}