body {
    background-color: $white;
}

.inner {
    $width: 1280px;
    $padding: 20px;

    width: 100%;
    max-width: calc(#{$width} + #{$padding});
    padding: 0 $padding;
    margin: 0 auto;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    @include breakpoint(small) {
        font-size: em-calc(10px);
    }
}

.hidden {
    display: none;
}

.user__container {
    padding: 50px 0;
    padding-left: $header-width;

    form {
        margin-top: 50px;
    }
}

.content__container {
    padding: 100px 0;

    @include breakpoint(small) {
        padding: 50px 0;
    }
}

.trending__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin-top: 25px;
    grid-gap: 50px;

    @include breakpoint(small) {
        grid-template-columns: repeat(2, 1fr);
    }

    .trending {
        height: 200px;
        background-color: $grey;

        @include breakpoint(small) {
            height: 150px;
        }
    }
}

.icon {
    width: 20px;
    height: 20px;

    & + .icon {
        margin-left: 25px;
    }

    .st0 {
        fill: none;
    }

    .st1 {
        fill: $white;
    }
}

.auth__container {
    display: flex;
    flex-direction: row;
    flex: 1;

    @include breakpoint(small) {
        flex-direction: column;

        .gradient {
            height: 200px;
            flex: none;
        }
    }

    > div {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        position: relative;

        @include breakpoint(small) {
            &:not(.gradient) {
                align-items: flex-start;
            }
        }

        &.gradient {
            z-index: -1;
        }
    }
}

form {
    width: 100%;

    .heading {
        margin-bottom: 10px;
    }

    .text {
        margin-bottom: 50px;
    }

    .form__row {
        position: relative;

        .row__label,
        .row__error {
            position: absolute;
            font-family: $secondary-font;
            text-transform: capitalize;
            background-color: $white;

            // form input padding + border
            padding: 0 12px;
        }

        .row__label {
            transform: translateY(-50%) translateX(10px);
            color: $black;
            font-size: $font-size-sm;
        }

        .row__error {
            color: $red;
            right: 0;
            font-size: $font-size-xsm;
            transform: translateY(-50%) translateX(-10px);
        }

        &--image {
            margin-bottom: 25px;

            .row__error {
                left: 0;
                right: auto;
                transform: translateY(-50%) translateX(10px);
            }
        }
    }

    .row__input {
        width: 100%;
        padding: 10px 20px;
        border: $grey 2px solid;
        background-color: transparent;
        margin-bottom: 25px;
        font-size: $font-size-sm;
        transition: 300ms ease-in-out border-color;

        &--error {
            border-color: lighten($red, 10%);
        }
    }

    .form__error {
        color: $red;
        font-family: $secondary-font;
        font-size: $font-size-sm;
        margin-bottom: 25px;
    }
}

.action__container {
    display: flex;
    justify-content: flex-end;
}

.button {
    color: white;
    background-color: $primary;
    border: none;
    padding: 10px 40px;
    font-size: $font-size-sm;
    font-family: $primary-font;
    text-transform: uppercase;
    transition: 100ms ease-in-out background-color, 100ms ease-in-out transform;

    &:hover {
        background-color: darken($primary, 10%);
    }

    &:active {
        transform: translateY(5px);
    }
}

.login__container {
    form {
        position: absolute;
        max-width: 500px;
        padding: 25px;
    }
}

.avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
}

.banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}