$primary: #FF5722;

$white: #F8F8F8;
$grey: #EDEDED;
$black: #242424;

$header-width: 200px;
$header-height: 100px;

$breakpoint-small: 768px;
$breakpoint-medium: 1024px;
$breakpoint-large: 1280px;

:export {
    breakpointSmall: $breakpoint-small;
    breakpointMedium: $breakpoint-medium;
    breakpointLarge: $breakpoint-large;
}