@font-face {
    font-display: swap;
    font-family: 'FjallaOne';
    src: url('/fonts/FjallaOne-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'NotoSans';
    src: url('/fonts/NotoSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'NotoSans';
    src: url('/fonts/NotoSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}


$font-size-xsm: em-calc(12px);
$font-size-sm: em-calc(16px);
$font-size-md: em-calc(20px);
$font-size-lg: em-calc(28px);
$font-size-xlg: em-calc(72px);

$primary-font: 'FjallaOne', 'sans-serif';
$secondary-font: 'NotoSans', 'sans-serif';




.title {
    font-size: $font-size-xlg;
    color: $white;
    font-family: $primary-font;

    &--dark {
        color: $black;
    }

    &--center {
        text-align: center;
    }
}

.subtitle {
    font-size: $font-size-lg;
    color: $white;
    font-family: $secondary-font;
}

.heading {
    color: $black;
    font-family: $primary-font;
    font-size: $font-size-lg;

    &--primary {
        color: $primary;
    }
}

.subheading {
    font-family: $secondary-font;
    font-size: $font-size-md;
    margin-top: 10px;
}

.text {
    font-family: $secondary-font;
    color: $black;
    font-size: $font-size-sm;
    line-height: calc(#{$font-size-sm} * 1.5);
    text-transform: capitalize;

    &--disabled {
        color: $dark-grey !important;
        user-select: none;
    }
}