.footer {
    background-color: $black;
    
    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;

        .copyrights {
            color: $white;
            font-family: $secondary-font;
            font-size: $font-size-sm;
        }
    }
}