.footer {
    background-color: $black;
    
    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;

        @include breakpoint(small) {
            height: 150px;
            flex-direction: column;
            justify-content: center;
            
            .copyrights {
                margin-top: 25px;
            }
        }

        .copyrights {
            color: $white;
            font-family: $secondary-font;
            font-size: $font-size-sm;
        }
    }
}