.header {
    background-color: $white;

    &--user {
        background: $grey;
        padding: 50px 20px;
        width: $header-width;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
    }

    &--guest {
        .inner {
            height: $header-height;
            display: flex;
            flex-direction: 'row';
            align-items: center;
            justify-content: space-between;

            @include breakpoint(small) {
                height: 50px;
            }
        }
    }

    .header__nav__link {
        color: $black;
        text-decoration: none;
        font-family: $secondary-font;
        transition: 300ms ease-in-out color;
        will-change: color;
        font-size: $font-size-md;

        &:not(:last-child) {
            margin-right: 40px;

            @include breakpoint(small) {
                margin-right: 25px;
            }
        }

        &.active {
            color: $primary;
        }
    }
}