.header {
    background-color: $white;
    z-index: 5;

    .header__nav__link {
        color: $black;
        text-decoration: none;
        font-family: $secondary-font;
        transition: 300ms ease-in-out color;
        will-change: color;
        font-size: $font-size-md;
        cursor: pointer;

        &.active {
            color: $primary;
        }
    }

    &--user {
        background: $grey;
        padding: 50px 20px;
        width: $header-width;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;

        @include breakpoint(small) {
            width: 100vw;
            padding: 20px;
        }

        .header__content {
            display: flex;
            align-items: center;
            flex-direction: column;

            @include breakpoint(small) {
                width: 100%;
            }

            .header__content--mobile {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                align-items: center;
            }

            .avatar {
                margin: 25px 0;
            }
        }

        .header__nav__link {
            &:not(:last-child) {
                margin-bottom: 10px;

                @include breakpoint(small) {
                    margin-bottom: 5px;
                }
            }
        }
    }

    &--guest {
        .inner {
            height: $header-height;
            display: flex;
            flex-direction: 'row';
            align-items: center;
            justify-content: space-between;

            @include breakpoint(small) {
                height: 80px;
            }
        }

        .header__nav__link {
            &:not(:last-child) {
                margin-right: 40px;

                @include breakpoint(small) {
                    margin-right: 25px;
                }
            }
        }
    }
}

.hamburger__container {
    width: 100%;
    padding-bottom: 20px;
    user-select: none;

    .inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}